.env
.env.*
!.env.example
!**/.env.example

**/node_modules
**/npm-debug.log*
**/dist
**/dist-ssr

**/__pycache__
**/*.pyc
**/.venv
**/venv

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

docker-compose.override.yml